@using Webstore.Models
@inject NavigationManager Navigation

<div class="container">
    <div class="row">
        @foreach (var ware in ItemCardWares)
        {
            <div class="col-md-3">
                <div class="card mb-4">
                    <img class="card-img-top" src="@($"data:image/png;base64,{Convert.ToBase64String(ware.Photo)}")" alt="@ware.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@ware.Name</h5>
                        <p class="card-text">@ware.Description</p>
                        <p class="card-text"><strong>Price:</strong> @ware.Price</p>

                        <NavLink class="nav-link" href="@($"details/{ware.Id}")">
                            <button style="width:100px">
                                <img src="/images/shoppingcart.svg" height="20px" width="50px" />
                            </button>
                        </NavLink>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<Ware>? ItemCardWares { get; set; }

}